<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Menu</h1>
                <span>Lorem ipsum dolor sit amet.</span>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <img src="assets/images/product-1-720x480.jpg" alt="">
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <div style="margin-bottom:10px;">
                            <span>
                                <del><sup>$</sup>15.00</del> <sup>$</sup>17.00
                            </span>
                        </div>
                        <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo
                            tortor.</p>
                        <a href="#" class="filled-button">Order</a>
                    </div>
                </div>

                <br>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="assets/images/product-2-720x480.jpg" alt="">
                    <div class="down-content">
                        <h4>Odio libero vel autem atque consequuntur</h4>
                        <div style="margin-bottom:10px;">
                            <span>
                                <del><sup>$</sup>15.00</del> <sup>$</sup>17.00
                            </span>
                        </div>
                        <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo
                            tortor.</p>
                        <a href="#" class="filled-button">Order</a>
                    </div>
                </div>

                <br>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="assets/images/product-3-720x480.jpg" alt="">
                    <div class="down-content">
                        <h4>Libero eveniet sint nemo beatae</h4>
                        <div style="margin-bottom:10px;">
                            <span>
                                <del><sup>$</sup>15.00</del> <sup>$</sup>17.00
                            </span>
                        </div>
                        <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo
                            tortor.</p>
                        <a href="#" class="filled-button">Order</a>
                    </div>
                </div>

                <br>
            </div>

            <div class="col-md-4">
                <div class="service-item">
                    <img src="assets/images/product-4-720x480.jpg" alt="">
                    <div class="down-content">
                        <h4>Libero eveniet sint nemo beatae</h4>
                        <div style="margin-bottom:10px;">
                            <span>
                                <del><sup>$</sup>15.00</del> <sup>$</sup>17.00
                            </span>
                        </div>
                        <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo
                            tortor.</p>
                        <a href="#" class="filled-button">Order</a>
                    </div>
                </div>

                <br>
            </div>

            <div class="col-md-4">
                <div class="service-item">
                    <img src="assets/images/product-5-720x480.jpg" alt="">
                    <div class="down-content">
                        <h4>Libero eveniet sint nemo beatae</h4>
                        <div style="margin-bottom:10px;">
                            <span>
                                <del><sup>$</sup>15.00</del> <sup>$</sup>17.00
                            </span>
                        </div>
                        <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo
                            tortor.</p>
                        <a href="#" class="filled-button">Order</a>
                    </div>
                </div>

                <br>
            </div>

            <div class="col-md-4">
                <div class="service-item">
                    <img src="assets/images/product-6-720x480.jpg" alt="">
                    <div class="down-content">
                        <h4>Libero eveniet sint nemo beatae</h4>
                        <div style="margin-bottom:10px;">
                            <span>
                                <del><sup>$</sup>15.00</del> <sup>$</sup>17.00
                            </span>
                        </div>
                        <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo
                            tortor.</p>
                        <a href="#" class="filled-button">Order</a>
                    </div>
                </div>

                <br>
            </div>
        </div>

        <br>
        <br>

        <nav>
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>